<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <!-- this is for Spring -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

<!--
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/ua/org/gostroy/communityJavaProject/rmi/rmi_spring/applicationContext.d/spring-web.xml</param-value>
            &lt;!&ndash;<param-value></param-value>&ndash;&gt;
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
-->

<!--
    &lt;!&ndash;hession&ndash;&gt;
    <servlet>
        <servlet-name>userHessionExporter</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userHessionExporter</servlet-name>
        <url-pattern>/hessian/userService</url-pattern>
    </servlet-mapping>

    &lt;!&ndash;burlap&ndash;&gt;
    <servlet>
        <servlet-name>userBurlapExporter</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userBurlapExporter</servlet-name>
        <url-pattern>/burlap/userService</url-pattern>
    </servlet-mapping>

    &lt;!&ndash;httpInvoker&ndash;&gt;
    <servlet>
        <servlet-name>userHttpInvokerExporter</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userHttpInvokerExporter</servlet-name>
        <url-pattern>/httpInvoker/userService</url-pattern>
    </servlet-mapping>
-->

</web-app>
